In [2]:
nilesh=[1,"nalawade", True , 5*7j, 44.45654, -34.4]

In [3]:
type(nilesh)

list

In [4]:
type(nilesh)

list

In [5]:
nilesh[1]

'nalawade'

In [6]:
nilesh[0:3] #slicing list is done like  this

[1, 'nalawade', True]

In [7]:
nilesh[-1]

-34.4

In [8]:
nilesh[::-1]        #revercing list

[-34.4, 44.45654, 35j, True, 'nalawade', 1]

In [9]:
nilesh[::2]# slicing(jumping)     skipping a object in a list

[1, True, 44.45654]

In [10]:
a=(nilesh[::-1])

In [11]:
a

[-34.4, 44.45654, 35j, True, 'nalawade', 1]

In [12]:
b="2233"#string

In [13]:
a[4][0:2]#removing na from object

'na'

In [14]:
l1=[3,4,5,6]

In [15]:
a+l1  #adding list

[-34.4, 44.45654, 35j, True, 'nalawade', 1, 3, 4, 5, 6]

In [16]:
l1*2

[3, 4, 5, 6, 3, 4, 5, 6]

In [17]:
a

[-34.4, 44.45654, 35j, True, 'nalawade', 1]

In [18]:
len(a)   #length of list

6

In [19]:
len(l1)

4

In [20]:
a

[-34.4, 44.45654, 35j, True, 'nalawade', 1]

In [21]:
nilesh.append("haha")#adding in list

In [22]:
nilesh

[1, 'nalawade', True, 35j, 44.45654, -34.4, 'haha']

In [23]:
a.append("nilesh")

In [24]:
a

[-34.4, 44.45654, 35j, True, 'nalawade', 1, 'nilesh']

In [25]:
nilesh.append(l1) #appending a list

In [26]:
nilesh

[1, 'nalawade', True, 35j, 44.45654, -34.4, 'haha', [3, 4, 5, 6]]

In [27]:
nilesh[-1][1]#extracting values

4

In [28]:
nilesh

[1, 'nalawade', True, 35j, 44.45654, -34.4, 'haha', [3, 4, 5, 6]]

In [29]:
nilesh.extend("1,2")

In [30]:
nilesh

[1,
 'nalawade',
 True,
 35j,
 44.45654,
 -34.4,
 'haha',
 [3, 4, 5, 6],
 '1',
 ',',
 '2']

In [31]:
l1

[3, 4, 5, 6]

In [46]:
l1.insert(3,[7,8,9]) #adding data at desiered location

In [47]:
l1

[3, 4, 5, [7, 8, 9], 45]

In [48]:
l1.insert(-1, 45)

In [49]:
l1#

[3, 4, 5, [7, 8, 9], 45, 45]

In [50]:
l1.pop()#Remove and return item at index (default last).

45

In [51]:
l1.pop(3)

[7, 8, 9]

In [52]:
l1

[3, 4, 5, 45]

In [67]:
nilesh

[1, 'nalawade', True, 35j, 44.45654, -34.4, 'haha', [3, 4, 5, 45], '2']

In [68]:
nilesh.remove('1')#Remove first occurrence of value.

ValueError: list.remove(x): x not in list

In [69]:
nilesh.remove

In [70]:
nilesh[-3].remove(4) ########### IMP

AttributeError: 'str' object has no attribute 'remove'

In [64]:
nilesh[-3].remove(4)

AttributeError: 'str' object has no attribute 'remove'

In [43]:
nilesh

[1, 'nalawade', True, 35j, 44.45654, -34.4, 'haha', [3, 4, 5, 45], '1', '2']

In [72]:
l1

[3, 4, 5, 45]

In [73]:
l1[::-1]

[45, 5, 4, 3]

In [74]:
nilesh[::-1]

['2', [3, 4, 5, 45], 'haha', -34.4, 44.45654, 35j, True, 'nalawade', 1]

In [75]:
nilesh.reverse()  #permanent reverse

In [76]:
nilesh

['2', [3, 4, 5, 45], 'haha', -34.4, 44.45654, 35j, True, 'nalawade', 1]


# sort

In [78]:
l2=[2,3,4,5,6,7,8,9,5,6,7,1,4,99]

In [79]:
l2.sort()#sorting

In [80]:
l2

[1, 2, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 9, 99]

In [81]:
l3=[1,2,3,"hii","fgh",54]

In [82]:
l3.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [83]:
l2.sort(reverse=True)

In [84]:
l2

[99, 9, 8, 7, 7, 6, 6, 5, 5, 4, 4, 3, 2, 1]

In [85]:
l2.index(9)             #position of element

1

In [86]:
l2.count(6)        #no of elements

2

In [87]:
l3

[1, 2, 3, 'hii', 'fgh', 54]

In [88]:
l2

[99, 9, 8, 7, 7, 6, 6, 5, 5, 4, 4, 3, 2, 1]

In [89]:
l2[0]=100

In [90]:
l2

[100, 9, 8, 7, 7, 6, 6, 5, 5, 4, 4, 3, 2, 1]

# TOUpple

In [91]:
t=(2,5,7,5,8.778, -67,"hii")

In [92]:
type(t)

tuple

In [93]:
len(t)

7

In [94]:
t[3]

5

In [95]:
t.index(5)

1

In [96]:
s1={1,2,3,4,5,6,77,4}     #sets

In [97]:
type(s1)

set

In [102]:
s2={77,1,25,6,5,85,9,5,4,8,78,8,6,5,4,5,5,4,}

In [103]:
s2

{1, 4, 5, 6, 8, 9, 25, 77, 78, 85}

In [104]:
l6 = set(l1)

In [105]:
l6

{3, 4, 5, 45}

In [106]:
s2.add(4)

In [107]:
s2

{1, 4, 5, 6, 8, 9, 25, 77, 78, 85}

In [108]:
s2.add(4.5)

In [109]:
s2

{1, 4, 4.5, 5, 6, 8, 9, 25, 77, 78, 85}

In [110]:
s2.remove(4)

In [111]:
s2

{1, 4.5, 5, 6, 8, 9, 25, 77, 78, 85}