PW LEC 5

DICTIONARY

In [51]:
#key should alwayas be unique

In [13]:
nilesh="hii"

In [14]:
a = {}

In [15]:
type(a)

dict

In [16]:
n1={'key':"nil"}

In [17]:
n1

{'key': 'nil'}

In [18]:
n2={'name':"nilesh",'email':"nileshnalawade613@gmail.com"}

In [19]:
n3={123:"dip", 'one':"piece", True:'allowed'}

In [20]:
n3

{123: 'dip', 'one': 'piece', True: 'allowed'}

In [21]:
n3[123]

'dip'

In [22]:
n3[True]

'allowed'

In [23]:
n3[1]

'allowed'

In [24]:
n4={'name':"nile", 'mail_id':"nn@gmail.com", 'name':"nilesh"}

In [25]:
n4['name']   #key overritten by new value

'nilesh'

In [26]:
n5={'company':"ppwskills",'cource':["data science", " java"]}

In [27]:
n5['cource'][1]

' java'

In [28]:
n6={'no. ': [2,5,99,7,6,44,88,44]#list
    , 'assignment':(1,2,3,4,5,6,7,8,9)#touple
   , 'launch date':{12,35,445,65,12}
   ,'class time':
    {"hi":'hello','hdg':"sfvd"}}#dict inside dict

In [29]:
n6

{'no. ': [2, 5, 99, 7, 6, 44, 88, 44],
 'assignment': (1, 2, 3, 4, 5, 6, 7, 8, 9),
 'launch date': {12, 35, 65, 445},
 'class time': {'hi': 'hello', 'hdg': 'sfvd'}}

In [30]:
n6['class time']['hdg']

'sfvd'

In [31]:
n6['friends']=["nilesh","onkar","bunny"] #adding new key

In [32]:
n6

{'no. ': [2, 5, 99, 7, 6, 44, 88, 44],
 'assignment': (1, 2, 3, 4, 5, 6, 7, 8, 9),
 'launch date': {12, 35, 65, 445},
 'class time': {'hi': 'hello', 'hdg': 'sfvd'},
 'friends': ['nilesh', 'onkar', 'bunny']}

In [33]:
del n6['launch date'] #deleting the key

In [34]:
n6

{'no. ': [2, 5, 99, 7, 6, 44, 88, 44],
 'assignment': (1, 2, 3, 4, 5, 6, 7, 8, 9),
 'class time': {'hi': 'hello', 'hdg': 'sfvd'},
 'friends': ['nilesh', 'onkar', 'bunny']}

In [36]:
n6.keys()

dict_keys(['no. ', 'assignment', 'class time', 'friends'])

In [57]:
list(n6.keys())

['no. ', 'assignment', 'class time', 'friends']

In [58]:
list(n6.values())

[[2, 5, 99, 7, 6, 44, 88, 44],
 (1, 2, 3, 4, 5, 6, 7, 8, 9),
 {'hi': 'hello', 'hdg': 'sfvd'},
 ['nilesh', 'onkar', 'bunny']]

In [59]:
list(n6.items())

[('no. ', [2, 5, 99, 7, 6, 44, 88, 44]),
 ('assignment', (1, 2, 3, 4, 5, 6, 7, 8, 9)),
 ('class time', {'hi': 'hello', 'hdg': 'sfvd'}),
 ('friends', ['nilesh', 'onkar', 'bunny'])]

In [60]:
n6.pop('class time')

{'hi': 'hello', 'hdg': 'sfvd'}

In [61]:
n6

{'no. ': [2, 5, 99, 7, 6, 44, 88, 44],
 'assignment': (1, 2, 3, 4, 5, 6, 7, 8, 9),
 'friends': ['nilesh', 'onkar', 'bunny']}

# Control Statement

In [77]:
marks= int(input("enter your marks"))
if marks >= 80:
    print("you are scoller")
elif 80>marks>=60:
    print("you are average")
elif 60>marks>=40:
    print("below average")
else :print("work hard")

enter your marks 120

you are scoller

In [82]:
price= int(input("enter price"))
if price>1000:
    print("i will not purchase")
else:
    print("i will purchase")

enter price 459

i will purchase

In [1]:
n=[1,2,3,4,5,6,7,8,9,10]

In [2]:
n[0]+1

2

In [3]:
list1=[]

In [4]:
n

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
list1.append(n[0]+1)

In [6]:
list1

[2]

In [7]:
list2=[]
for i in n:
    print(i+1)
    list2.append(i+1)

2
3
4
5
6
7
8
9
10
11

In [8]:
list2

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [9]:
l=["nilesh","dip","pwskill"]

In [10]:
l3=[]
for i in l:
    print(i)
    l3.append(i.upper())

nilesh
dip
pwskill

In [11]:
l3

['NILESH', 'DIP', 'PWSKILL']

In [12]:
l2=[1,2,3,4,5,6,7,8,9,"nilesh","nalawade",44.44]

In [13]:
l4_num=[]
l5_str=[]
for i in l2:
    if type (i)==int or type(i)==float:
        l4_num.append(i)
    else:
        l5_str.append(i)   
    
    
    ##l4_num.append(i.())
    #l5_str.append(i.())

In [14]:
l4_num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 44.44]

In [15]:
l5_str

['nilesh', 'nalawade']