In [1]:
a= 1

while a <= 10 :
    print(a)
    a = a +1

1
2
3
4
5
6
7
8
9
10

In [3]:
# sum the numbers till some point

n=int(input("enter your limit"))
starting_point= 0
counter = 1

while counter <= n:
    starting_point = starting_point +counter
    counter = counter +1
starting_point      #will give sum of no.s till limit

enter your limit5

15

In [5]:
number=int(input("enter your no."))
factorial = 1

while number>0:
    factorial=factorial*number
    number= number-1
factorial

enter your no.6

720

finonacci series


 next no should be summation of 2 previous numbers

In [6]:
number=int(input("enter your no."))
a,b=0,1
counter=0
while counter <=number:
    print(a)
    c=a+b         #new place to store new number
    a=b           #replacing value with the previous higher value
    b=c           #replacing value with the valuee of c
    counter=counter +1
counter

enter your no.4
0
1
1
2
3

5

In [7]:
n="nilesh"

In [9]:
n[::-1]     #reverse a string

'hselin'

In [11]:
word=input("enter your string")
reverse=""
length=len(word)
while length>0:
    reverse=reverse+word[length-1]
    length=length-1
print(reverse)

enter your stringnilesh
hselin

In [12]:
number=int(input("enter your no."))
table = 1

while table<=10:
    result=table*number
    print(number,"X",table,"=",result)
    table=table+1
table

enter your no.5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

11

In [14]:
#e.g of while else loop

n=int(input("enter number"))
i=1
while i<=n:
    print(i)
    if i==4:
        break
    i=i+1
else:print("done")

enter number5
1
2
3
4

# COMPREHENSION

creating a list using existing list

In [15]:
L=[1,2,3]
L4=[]
for i in L:
    L4.append(i**2)
L4

[1, 4, 9]

In [16]:
L=[1,2,3]

In [17]:
[i**2 for i in L]

[1, 4, 9]

In [18]:
L4

[1, 4, 9]

In [19]:
[i for i in L if i % 2==0]   #**********************************************

[2]

In [20]:
l3=["nilesh","fggvnb","gfhgnvb"]

In [21]:
[i.upper() for i in l3]

['NILESH', 'FGGVNB', 'GFHGNVB']

# ***

In [22]:
d={'k1':1,'k2':2,'k3':3,'k4':4,'k15':15}

In [23]:
{k:v**2 for k, v in d.items()}

{'k1': 1, 'k2': 4, 'k3': 9, 'k4': 16, 'k15': 225}

In [24]:
{k : v for k ,v in d.items() if v>1}

{'k2': 2, 'k3': 3, 'k4': 4, 'k15': 15}

.

.

.

functions

In [37]:
l=[1,2,3,4,5,6]

In [38]:
print(l)

[1, 2, 3, 4, 5, 6]

In [39]:
len(l)

6

In [40]:
type(l)

list

In [41]:
#creating functions


def nilesh():
    print("this is my 1st funcction")

In [43]:
nilesh()

this is my 1st funcction

In [83]:
def test2():
    return"my return",2,[8.23,45,44]

In [84]:
test2()

('my return', 2, [8.23, 45, 44])

In [77]:
test2() + "nile"

'my returnnile'

In [85]:
a,b,c = test2()

In [86]:
a

'my return'

In [87]:
b

2

In [88]:
c

[8.23, 45, 44]

In [89]:
def test3():
    a=5+6*7%2
    return a

In [90]:
test3()

5

In [91]:
def test4(a,b,c):
    d=a+b*c
    return d

In [94]:
test4(4,5,9)

49

In [108]:
def test5(a,b):
    return a+b

In [109]:
test5(2,3)

5

In [110]:
test5("nil","esh")

'nilesh'

In [5]:
l6=[1,2,3,4,5,6,"nilesh","nalawade",[1,5,7,9,3,4]]

In [7]:
l7=[]
for i in l6:
    if type(i)==int or type(i)==float :
        l7.append(i)

In [8]:
l7

[1, 2, 3, 4, 5, 6]

In [10]:
def test6(l7):
    l7=[]
    for i in l6:
       if type(i)==int or type(i)==float :
            l7.append(i)
    return l7

In [13]:
test6(l7)

[1, 2, 3, 4, 5, 6]

In [20]:
l6

[1, 2, 3, 4, 5, 6, 'nilesh', 'nalawade', [1, 5, 7, 9, 3, 4]]

In [27]:
def test8(a):
    l7=[]
    for i in a:
        if type(i) == list:
            for j in i:
                l7.append(j)
        else :
            if type(i) == int or type(i)==float:
                l7.append(i)
    return l7
           #removing all numeric values

In [28]:
test8(l6)

[1, 2, 3, 4, 5, 6, 1, 5, 7, 9, 3, 4]

In [29]:
def test9(a):
    """this is my function to extract numbers from string"""
    l7=[]
    for i in a:
        if type(i) == list:
            for j in i:
                l7.append(j)
        else :
            if type(i) == int or type(i)==float:
                l7.append(i)
    return l7
           #removing all numeric values

In [ ]:
def test10(a,b):
    return a+b #2 parameter function

In [32]:
def test11(*anyword):
    return anyword           # function for indefinite amount of parameters

In [33]:
test11(6,7,88,9)

(6, 7, 88, 9)

In [35]:
def test12(*nilesh, a):
    return nilesh, a                   #multiple return

In [38]:
test12(1,2,3,45,a=12)

((1, 2, 3, 45), 12)

In [39]:
def test13(**dicttype):
    return dicttype

In [40]:
test13()

{}

In [41]:
type(test13())

dict

In [42]:
test13(a={1,2,3,4},b={"nilesh","nalawade"})

{'a': {1, 2, 3, 4}, 'b': {'nalawade', 'nilesh'}}